<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch.ebusiness.repository.admin.UserAndOrderAndOutRepository">
	<select id="selectAllUser"  resultType="integer">
		select count(*) from busertable 
	</select>
	<select id="selectAllStore"  resultType="integer">
		select count(*) from storetable
	</select>
	<!-- 分页查询 -->
	<select id="selectUserByPage"  resultType="BUser">
		select * from busertable limit #{startIndex}, #{perPageSize} 
	</select>
	<!-- 分页查询 -->
	<select id="selectStoreByPage"  resultType="Store">
		select * from storetable limit #{startIndex}, #{perPageSize}
	</select>
	<select id="selectCartUser" resultType="map"  parameterType="int" >
		select * from carttable where busertable_id = #{id}
	</select>
	<select id="selectOrderUser" resultType="map"  parameterType="int">
		select * from orderbasetable where busertable_id = #{id}
	</select>
	<delete id="deleteUser" parameterType="int">
		delete from busertable where id = #{id}
	</delete>
	<delete id="deleteStore" parameterType="int">
		delete from storetable where id = #{id}
	</delete>
	<select id="selectAllOrder"  resultType="integer">
		select count(*) from orderbasetable 
	</select>
	<!-- 分页查询 -->
	<select id="selectOrderByPage"  resultType="map">
		select obt.*, bt.login_name from orderbasetable obt, busertable bt where obt.busertable_id = bt.id limit #{startIndex}, #{perPageSize}
	</select>

	<select id="getGid" parameterType="Integer" resultType="Integer">
		select goodstable_id  from orderdetail where orderbasetable_id = #{oid}
	</select>
	<select id="getNum" parameterType="Integer" resultType="java.lang.Integer">
		select shoppingnum  from orderdetail where goodstable_id = #{gid} and orderbasetable_id=#{oid}
	</select>
	<select id="getPrice" parameterType="Integer" resultType="java.lang.Double">
		select grprice  from goodstable where id = #{gid}
	</select>
	<select id="getSman" parameterType="Integer" resultType="java.lang.Integer">
		select st.buser_id  from goodstable gt, storetable st where gt.id = #{gid} and st.id=gt.store_id
	</select>
	<update id="addWallet">
		update busertable set wallet=wallet+#{sum} where id=#{man}
	</update>
	<update id="endOrder">
		update orderbasetable set status=2 where id=#{oid}
	</update>
</mapper>